{% if bucket.elementData %}
    {% set sourceId = bucket.elementData[bucket.elementType] %}

    {% set source = craft.app.volumes.getVolumeById(sourceId) %}
    {% set folders = craft.needletail.getAssetFolderBySourceId(sourceId) %}
{% endif %}

{% set fields = [{
    name: 'Title',
    handle: 'title',
    default: {
        type: 'text',
    },
}, {
    name: 'Filename',
    handle: 'filename',
    default: {
        type: 'text',
    },
}, {
    name: 'File size',
    handle: 'size',
    default: {
        type: 'text',
    },
}, {
    name: 'URL',
    handle: 'url',
    instructions: 'The entry URL.' | t('needletail'),
    default: {
        type: 'text',
    }
}, {
    type: 'date',
    name: 'Date created',
    handle: 'dateCreated',
    instructions: 'Accepts Unix timestamp, or just about any English textual datetime description.' | t('needletail'),
    default: {
        type: 'dateTime',
    }
}, {
    type: 'date',
    name: 'Date modified',
    handle: 'dateModified',
    instructions: 'Accepts Unix timestamp, or just about any English textual datetime description.' | t('needletail'),
    default: {
        type: 'dateTime',
    }
}] %}


{% set fields = fields | merge([]) %}

<h2>{{ 'Asset Fields' | t('needletail') }}</h2>

<table class="needletail-mapping data fullwidth collapsible">
    <thead>
    <th style="width: 45%">{{ 'Field' | t('needletail') }}</th>
    <th>{{ 'Enabled' | t('needletail') }}</th>
    <th style="width: 45%">{{ 'Default Value' | t('needletail') }}</th>
    </thead>
    <tbody>
    {% for field in fields %}
        {% set template = field.type ?? 'default' %}
        {% set variables = field | merge({ bucket: bucket, attribute: true }) %}
        {% include 'needletail/_includes/fields/default' with variables only %}
    {% endfor %}
    </tbody>
</table>

{% set tabs = [] %}

{% if source.fieldLayoutId %}
    {% set tabs = craft.app.fields.getLayoutById(source.fieldLayoutId).getTabs() %}

    {% for tab in tabs %}
        <hr>

        <h2>{{ tab.name }} Fields</h2>

        <table class="needletail-mapping data fullwidth collapsible">
            <thead>
            <th style="width: 45%">{{ 'Field' | t('needletail') }}</th>
            <th>{{ 'Enabled' | t('needletail') }}</th>
            <th style="width: 45%">{{ 'Default Value' | t('needletail') }}</th>
            </thead>
            <tbody>
            {% for field in tab.getFields() %}
                {% set fieldClass = craft.needletail.fields.getRegisteredField(className(field)) %}
                {% set template = fieldClass.getMappingTemplate() %}

                {% set variables = { name: field.name, handle: field.handle, bucket: bucket, field: field, fieldClass: fieldClass } %}

                {% include template ignore missing with variables only %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}